extends layout

block content
    ul
        each student, i in students
            if i+1 == whoToHighlight
                li 
                    b #{student}
            else
                li #{student}

